
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-body mr-auto">
           <center><img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar" alt="User avatar"></center>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          
        <center><h3 class="panel-title">Kullanıcı Bilgileri</h3> </center>
        
          <center><div class="form-group"></center>
            <center><label class="col-sm-2 control-label">Kullanıcı adı</label> </center>
            <div class="col-sm-10">
              <center><input type="text" disabled = "disabled" class="form-control"> </center>
            </div>
          </div>
           <div class="form-group">
            <center><label class="col-sm-2 control-label">Meslek</label> </center>
            <div class="col-sm-10">
              <center><input type="text" class="form-control"> </center>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          
        <center> <h3 class="panel-title">Kişisel Bilgiler</h3></center>
        
        </div>
        <div class="panel-body">
          <div class="form-group">
            <center><label class="col-sm-2 control-label">İş telefonu</label> </center>
            <div class="col-sm-10">
             <center><input type="tel" class="form-control"> </center> <
            </div>
          </div>
          <div class="form-group">
            <center><label class="col-sm-2 control-label">Cep Telefonu</label> </center>
            <div class="col-sm-10">
              <center><input type="tel" class="form-control"> </center>
            </div>
          </div>
          <div class="form-group">
            <center><label class="col-sm-2 control-label">E-mail adres</label> </center>
            <div class="col-sm-10">
              <center><input type="email" class="form-control"> </center>
            </div>
          </div>
          <div class="form-group">
            <center><label class="col-sm-2 control-label">İş adresi</label> </center>
            <div class="col-sm-10">
              <center><textarea rows="3" class="form-control"></textarea> </center>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
             
            </div>
          </div>
          
            <center><a href="/"><button type="button" class="btn btn-primary">Çıkış</button></a></center>

          </div>
        </div>
      </div>
    </form>

    
  </ul>
  </div>
</div>
</div>